<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Korxona haqida</title>
	<link rel="stylesheet" href="../style/about.css">
	<link rel="stylesheet" href="../style/responsive.css">
	<link rel="shortcut icon" href="https://dilbar-un.com/assets/public/images/favicon.png">
	<link rel="stylesheet" href="../style/">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
		integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<header>
		<nav class="menu">
			<div class="menu-elements container">
				<ul type="none">
					<li><a href="../index.html">BOSH SAHIFA</a></li>
					<li><a id="active" href="./about.html">KORXONA HAQIDA</a></li>
					<li><a href="./products.html">MAHSULOTLAR</a></li>
					<li><a href="./services.html">XIZMATLAR</a></li>
					<li><a href="./recipts.html">RETSEPTLAR</a></li>
					<li><a href="./kontakts.html">KONTAKTLAR</a></li>
				</ul>
				<div class="custom-select">
					<div class="selected"> <img src="../media/uzbekistan.png" alt="">UZ<i class="fa-solid fa-angle-down"></i>
					</div>
					<div class="options">
						<div class="option">
							<img src="../media/uzbekistan.png" alt="Image 1" />
							<span>UZ</span>
						</div>
						<div class="option">
							<img src="../media/ru.png" alt="Image 2" />
							<span>RU</span>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div class="banner container">
			<div class="banner_child">
				<img src="../media/banner-logo.svg" alt="banner-logo" class="banner-logo">
				<h1 class="banner-text">KORXONAMIZ HAQIDA BIR NECHA SO'Z</h1>
			</div>
			<div class="arrow-container">
				<div class="arrow"></div>
				<div class="arrow"></div>
				<div class="arrow"></div>
			</div>
		</div>
	</header>

	<section class="about-section">
		<div class="about-section-boxes container">
			<div class="about-section-info">
				<h1>DILBAR BRENDINING OILA TARIXI 1985-YILDA ALI RAHMON ISMLI YOSH TADBIRKOR O’ZINING YUQORI SIFATLI UN ISHLAB
					CHIQARISH KORXONASINI YARATISHTA QAROR QILGANIDA VUJUDGA KELGAN. O’SHA PAYTDA O’Z BIZNESINI BOSHLASH QARORI
					DADIL QADAM EDI, LEKIN SIFATGA INTILISH HAMDA O’Z ORZUSIGA SODIQLIK UNI DILBAR GA ASOS SOLISHGA OLIB KELDI.
				</h1>
			</div>
			<div class="about-section-boxes-card">
				<div class="one-left">
					<img src="../media/fc330c5ba8a3c2dab9299e86e46e1d78.jpg" alt="">
				</div>
				<div class="one-right">
					<h1 class="one-right-h1">DILBAR ZAVODLARI</h1>
					<div class="line"></div>
					<p class="one-right-p">
						“DILBAR” BUG‘DOY UNI BRENDI O‘ZBEKISTONDA IKKITA TO‘LIQ TSIKLLI ZAVOD – GULISTON VA SAMARQAND SHAHARLARIDA
						MAVJUDLIGI TUFAILI SEZILARLI ISHLAB CHIQARISH QUVVATIGA EGA.</p>
				</div>
			</div>
			<div class="about-section-boxes-card">
				<div class="two-left">
					<h1 class="two-left-h1">JAMOA</h1>
					<div class="line"></div>
					<p class="two-left-p">
						DILBAR HAR DOIM OILAVIY QADRIYATLARNI QADRLAYDIGAN KOMPANIYA BO'LIB KELGAN. ALI RAHMON SIFATLI UNGA BO'LGAN
						ISHTIYOQINI FARZANDLARIGA O'TKAZDI VA VAQT O'TISHI BILAN BREND HAQIQIY OILAVIY ISH BO'LDI. BUGUNGI KUNDA ALI
						RAHMONNING FARZANDLARI VA NABIRALARI KOMPANIYANI BOSHQARISHDA FAOL ISHTIROK ETIB, ANʼANALARNI SAQLAB, BREND
						RIVOJIGA YANGICHA QARASHLAR OLIB KELMOQDA.</p>
				</div>
				<div class="two-right">
					<img src="../media/17828969534b9423a05527b914f3ca71.jpg" alt="">
				</div>
			</div>
			<div class="about-section-boxes-card">
				<div class="three-left">
					<img src="../media/b84c07aaf9e490504a060e38ec2d81fd.jpg" alt="">
				</div>
				<div class="three-right">
					<h1 class="three-right-h1">MISSIYA VA QADRIYATLAR</h1>
					<div class="line"></div>
					<p class="three-right-p">
						BUGUN DILBAR O'Z TARIXINI KO'P YILLAR OLDINGI KABI ILHOM VA AN'ANAGA ISHONCH BILAN DAVOM ETTIRMOQDA.
						O'ZINING NOYOB DIDI VA SIFATGA E'TIBORINI SAQLAB, DILBARNI KO'P AVLODLAR UCHUN SEVIMLI BRENDGA AYLANTIRGAN
						OILAVIY ILIQLIK VA QADRIYATLARNI SAQLAB, YANGI UFQLARGA TAYYORLANMOQDA.</p>
				</div>
			</div>
			<div class="about-section-boxes-card">
				<div class="four-left">
					<h1 class="four-left-h1">ENG YUQORI SIFAT STANDARTI</h1>
					<div class="line"></div>
					<p class="four-left-p">
						MIJOZLARIMIZ O'ZLARINING OSHPAZLIK DURDONALARI UCHUN FOYDALANADIGAN HAR BIR O'RAM DILBAR UNIGA ISHONCH HOSIL QILISHLARI BILAN FAXRLANAMIZ. BIZNING UN NAFAQAT TARKIBIY QISM, BALKI SIZNING SOGLIG'INGIZ VA FAROVONLIGINGIZ UCHUN G'AMXO'RLIK QILISHNING ASOSIY ELEMENTIDIR.</p>
				</div>
				<div class="four-right">
					<img src="../media/978b16c41eace102ef327c351edbfdae.jpg" alt="">
				</div>
			</div>
		</div>
	</section>
	<div class="about-parallax">
	</div>
	<footer class="footer">
		<div class="footer-boxes container">
			<div class="box one"><img src="../media/footer-logo.svg" alt="img">
				<p>Un sanoati sohasida liderlar</p>
				<div class="box_texts">
					<p>Разработка <br>
						сайта:
					</p>
					<a href="#">PROEND TEAM</a>
				</div>
			</div>
			<div class="box two">
				<h2>BIZNING JOYLASHUVIMIZ</h2>
				<h2>3-mikrorayon <br>
					Guliston, Sirdaryo viloyati</h2>
				<div class="kontakt">
					<p>KONTAKTLAR</p>
					<h3><a href="#">+998 90 315 00 83</a></h3>
					<h3><a href="#">+998 97 432 90 10</a></h3>
					<h3><a href="#">+998 90 453 56 36</a></h3>
					<h3><a href="#">+998 98 177 00 83</a></h3>
				</div>
			</div>
			<div class="box three">
				<p>Korxona haqida</p>
				<p>Mahsulotlar</p>
				<p>Xizmatlar</p>
				<p>Retseptlar</p>
				<p>Kontaktlar</p>
			</div>
			<div class="box four">
				<p>Ijtimoiy tarmoqlar</p>
				<a href="#"><i class="fa-brands fa-telegram"></i>Telegram</a>
				<a href="#"><i class="fa-brands fa-square-instagram"></i>Instagram</a>
				<a href="#"><i class="fa-brands fa-youtube"></i>YouTube</a>
			</div>
		</div>
	</footer>
	<script src="../js/about.js"></script>
	<script src="https://unpkg.com/scrollreveal"></script>
	<script>
		ScrollReveal().reveal('.banner-logo', {
			delay: 400,
			duration: 1400,
			distance: '100px',
			origin: 'top',
			reset: 'true',

		})
		ScrollReveal().reveal('.banner-text', {
			delay: 400,
			duration: 1400,
			distance: '100px',
			origin: 'bottom',
			reset: 'true',

		})
		ScrollReveal().reveal('.about-section-info', {
			delay: 100,
			duration: 1300,
			distance: '150px',
			origin: 'top',
			reset: 'true',

		})
		ScrollReveal().reveal('.one-right, .two-left, .three-right, .four-left', {
			delay: 200,
			duration: 1400,
			distance: '100px',
			origin: 'bottom',
			reset: 'true',

		})
		ScrollReveal().reveal('.one-left, .two-right, .three-left, .four-right', {
			delay: 200,
			duration: 1400,
			distance: '90px',
			origin: 'bottom',
			reset: 'true',
			scale: '0.6'

		})
		
	</script>
</body>

</html>