<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kontaktlar</title>
	<link rel="stylesheet" href="../style/kontakts.css">
	<link rel="stylesheet" href="../style/responsive.css">
	<link rel="shortcut icon" href="https://dilbar-un.com/assets/public/images/favicon.png">
	<link rel="stylesheet" href="../style/">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
		integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<header>
		<nav class="menu">
			<div class="menu-elements container">
				<ul type="none">
					<li><a href="../index.html">BOSH SAHIFA</a></li>
					<li><a href="./about.html">KORXONA HAQIDA</a></li>
					<li><a href="./products.html">MAHSULOTLAR</a></li>
					<li><a href="./services.html">XIZMATLAR</a></li>
					<li><a href="./recipts.html">RETSEPTLAR</a></li>
					<li><a id="active" href="./kontakts.html">KONTAKTLAR</a></li>
				</ul>
				<div class="custom-select">
					<div class="selected"> <img src="../media/uzbekistan.png" alt="">UZ<i class="fa-solid fa-angle-down"></i>
					</div>
					<div class="options">
						<div class="option">
							<img src="../media/uzbekistan.png" alt="Image 1" />
							<span>UZ</span>
						</div>
						<div class="option">
							<img src="../media/ru.png" alt="Image 2" />
							<span>RU</span>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div class="banner container">
			<div class="banner_child">
				<img src="../media/banner-logo.svg" alt="banner-logo" class="banner-logo">
				<h1 class="banner-text">BIZNING KONTAKTLARIMIZ</h1>
			</div>
			<div class="arrow-container">
				<div class="arrow"></div>
				<div class="arrow"></div>
				<div class="arrow"></div>
			</div>
		</div>
	</header>

	<div class="contact-number-section">
		<div class="contact-number-section-contact-number container">
			<div class="map">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1516.7318009163246!2d68.764725!3d40.509243!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b206ff14cfe295%3A0x91f38bb5f1490770!2zIkJhcXFvbCBEb24gU2F2ZG8iINCc0LXQu9GM0L3QuNGG0LAg0Jgg0JzQsNGB0LvQviDQl9Cw0LLQvtC0!5e0!3m2!1sru!2sus!4v1736315750995!5m2!1sru!2sus"
					width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			<div class="contacts">
				<div class="info">
					<h1>ETKAZIB BERUVCHILARNING TELEFON RAQAMLARI</h1>
				</div>
				<form action="#" class="number">
					<button class="first-btn number-btn"><span class="first-btn-text">+998903150083</span>
						<div class="first-btn-front"></div>
					</button>
					<button class="second-btn number-btn"><span class="second-btn-text">+998974329010</span>
						<div class="second-btn-front"></div>
					</button>
					<button class="third-btn number-btn"><span class="third-btn-text">+998904535636</span>
						<div class="third-btn-front"></div>
					</button>
					<button class="fourth-btn number-btn"><span class="fourth-btn-text">+998981770083</span>
						<div class="fourth-btn-front"></div>
					</button>
				</form>
			</div>
		</div>
	</div>




	<div class="section-flour">
	</div>
	<footer class="footer">
		<div class="partner container">
			<h1 class="partner-title">HAMKORLIK UCHUN ARIZA QOLDIRING</h1>
			<form action="#" class="partner-form">
				<label for="name">
					<h4>KORXONA NOMI</h4>
					<input type="text" id="name">
				</label>
				<label for="Specialization">
					<h4>IXTISOSLASHUVCHI</h4>
					<input type="text" id="Specialization">
				</label>
				<label for="number">
					<h4>TELEFON RAQAMI</h4>
					<input type="tel" id="number">
				</label>
				<label for="email">
					<h4>KORXONA NOMI</h4>
					<input type="email" id="email">
					<button class="partner-btn"><i class="fa-solid fa-arrow-right"></i></button>
				</label>
			</form>
		</div>
		<div class="footer-boxes container">
			<div class="box one"><img src="../media/footer-logo.svg" alt="img">
				<p>Un sanoati sohasida liderlar</p>
				<div class="box_texts">
					<p>Разработка <br>
						сайта:
					</p>
					<a href="#">PROEND TEAM</a>
				</div>
			</div>
			<div class="box two">
				<h2>BIZNING JOYLASHUVIMIZ</h2>
				<h2>3-mikrorayon <br>
					Guliston, Sirdaryo viloyati</h2>
				<div class="kontakt">
					<p>KONTAKTLAR</p>
					<h3><a href="#">+998 90 315 00 83</a></h3>
					<h3><a href="#">+998 97 432 90 10</a></h3>
					<h3><a href="#">+998 90 453 56 36</a></h3>
					<h3><a href="#">+998 98 177 00 83</a></h3>
				</div>
			</div>
			<div class="box three">
				<p>Korxona haqida</p>
				<p>Mahsulotlar</p>
				<p>Xizmatlar</p>
				<p>Retseptlar</p>
				<p>Kontaktlar</p>
			</div>
			<div class="box four">
				<p>Ijtimoiy tarmoqlar</p>
				<a href="#"><i class="fa-brands fa-telegram"></i>Telegram</a>
				<a href="#"><i class="fa-brands fa-square-instagram"></i>Instagram</a>
				<a href="#"><i class="fa-brands fa-youtube"></i>YouTube</a>
			</div>
		</div>
	</footer>
	<script src="../js/kontakts.js"></script>
	<script src="https://unpkg.com/scrollreveal"></script>
	<script>

		ScrollReveal().reveal('.banner-logo', {
			delay: 400,
			duration: 1400,
			distance: '100px',
			origin: 'top',
			easing: 'ease-in-out',
			reset: 'true',

		})
		ScrollReveal().reveal('.banner-text', {
			delay: 400,
			duration: 1400,
			distance: '100px',
			easing: 'ease-in-out',
			origin: 'bottom',
			reset: 'true',

		})
		ScrollReveal().reveal('.map', {
			delay: 200,
			easing: 'ease-in-out',
			easing: 'ease-in-out',
			duration: 1400,
			distance: '100px',
			origin: 'bottom',
			reset: 'true',
			scale: '0.6',
		})
		ScrollReveal().reveal('.info', {
			delay: 200,
			duration: 1000,
			distance: '100px',
			easing: 'ease-in-out',
			origin: 'top',
			reset: 'true',

		})

		ScrollReveal().reveal('.number-btn', {
			delay: 300,
			duration: 800,
			reset: true,
			rotate: {
				x: 110,
				y: 0,
				z: 0,
			},
			easing: 'ease-in-out',
		});
	</script>
</body>

</html>