<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahsulotlar</title>
    <link rel="stylesheet" href="../style/products.css">
    <link rel="stylesheet" href="../style/responsive.css">
    <link rel="shortcut icon" href="https://dilbar-un.com/assets/public/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav class="menu">
            <div class="menu-elements container">
                <ul type="none">
                    <li><a href="../index.html">BOSH SAHIFA</a></li>
                    <li><a href="./about.html">KORXONA HAQIDA</a></li>
                    <li><a id="active" href="./products.html">MAHSULOTLAR</a></li>
                    <li><a href="./services.html">XIZMATLAR</a></li>
                    <li><a href="./recipts.html">RETSEPTLAR</a></li>
                    <li><a href="./kontakts.html">KONTAKTLAR</a></li>
                </ul>
                <div class="custom-select">
                    <div class="selected"> <img src="../media/uzbekistan.png" alt="">UZ<i
                            class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="options">
                        <div class="option">
                            <img src="../media/uzbekistan.png" alt="Image 1" />
                            <span>UZ</span>
                        </div>
                        <div class="option">
                            <img src="../media/ru.png" alt="Image 2" />
                            <span>RU</span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="banner container">
            <div class="banner_child">
                <img src="../media/banner-logo.svg" alt="banner-logo" class="banner-logo">
                <h1 class="banner-text">MAHSULOTLARIMIZ</h1>
            </div>
            <div class="arrow-container">
                <div class="arrow"></div>
                <div class="arrow"></div>
                <div class="arrow"></div>
            </div>
        </div>
    </header>

    <section class="product-wrapper">
        <div class="product-wrapper-boxes container">
            <div class="product-wrapper-boxes-first-box">
                <h2>BIRINCHI NAVLI BUG'DOY UNI</h2>
                <button class="product-wrapper-boxes-box-first-btn"><span class="btn-front-text">BATAFSIL</span>
                    <div class="first-btn-front"></div>
                </button>

            </div>
            <div class="product-wrapper-boxes-second-box">
                <h2>OLIY NAVLI BUG'DOY UNI</h2>
                <button class="product-wrapper-boxes-box-second-btn"><span class="btn-front-text">BATAFSIL</span>
                    <div class="second-btn-front"></div>
                </button>

            </div>
            <div class="product-wrapper-boxes-third-box">
                <h2>IKKINCHI NAVLI BUG'DOY UNI</h2>
                <button class="product-wrapper-boxes-box-third-btn"><span class="btn-front-text">BATAFSIL</span>
                    <div class="third-btn-front"></div>
                </button>

            </div>
        </div>
    </section>
    <section class="tradition">
        <div class="tradition-items container">
            <h1 class="tradition-text">
                PDF-DA BO‘LGAN BATAFSIL KATALOG KERAKMI? QUYIDA YUKLAB OLING.
            </h1>
            <button class="tradition-btn"><span class="btn-front-text">MAHSULOT KATALOGINI YUKLAB OLING</span>
                <div class="tradition-btn-front"></div>
            </button>
        </div>

    </section>

    <section class="recipe-section">
		<div class="recipe-section-boxes container">
			<div class="recipe-section-boxes-card">
				<div class="one-left">
					<img src="../media/78dbef0264740b8cb08773e5c71a83cb.jpg" alt="">
				</div>
				<div class="one-right">
					<h1 class="one-right-h1">BIZNING UN HAQIDA BIR OZ</h1>
					<div class="line"></div>
					<p class="one-right-p">
						“DILBAR UN” UNINI QOZOG‘ISTONNING TANLAB OLINGAN BUG‘DOYIDAN ILG‘OR TEXNOLOGIYALAR YORDAMIDA TAYYORLANGAN YUQORI SIFATLI MAHSULOTDIR. BU UN XAMIRGA O'ZIGA XOS XUSUSIYATLARNI BERADIGAN UN TARKIBIY QISMLARINING MUKAMMAL BIRIKMASIDIR.</p>
				</div>
			</div>
			<div class="recipe-section-boxes-card">
				<div class="two-left">
					<h1 class="two-left-h1">KELIB CHIQISHI</h1>
					<div class="line"></div>
					<p class="two-left-p">
						“DILBAR UN” QOZOG‘ISTONDA ISHLAB CHIQARILADI, BU YERDA QULAY IQLIM SHAROITI VA UNUMDOR TUPROQLARI YUQORI SIFATLI BUG‘DOY YETISHTIRISH UCHUN IDEAL SHAROIT YARATADI.</p>
				</div>
				<div class="two-right">
					<img src="../media/c718cf4b42f74fdf32700757645dff69.jpg" alt="">
				</div>
			</div>
			<div class="recipe-section-boxes-card">
				<div class="three-left">
					<img src="../media/46c5441334d2bc81c67c41c9ec40eba3.jpg" alt="">
				</div>
				<div class="three-right">
					<h1 class="three-right-h1">ISHLAB CHIQARISH TEXNOLOGIYALARI</h1>
					<div class="line"></div>
					<p class="three-right-p">
						DILBAR UN UNI BUG‘DOYNING BARChA FOYDALI XUSUSIYATLARINI SAQLAB QOLISH VA UNNI YUQORI DARAJADA TOZALASHNI TA’MINLAYDIGAN ZAMONAVIY TEXNOLOGIYALAR YORDAMIDA ISHLAB ChIQARILADI.</p>
				</div>
			</div>
			<div class="recipe-section-boxes-card">
				<div class="four-left">
					<h1 class="four-left-h1">ENG YUQORI SIFAT STANDARTI</h1>
					<div class="line"></div>
					<p class="four-left-p">
						DILBAR BMT MAHSULOTLARI ENG YUQORI SIFAT STANDARTLARIGA JAVOB BЕRADI. YAKUNIY ISTE'MOLChINI BENUQSON MAHSULOT BILAN TA'MINLASH UCHUN UN ISHLAB ChIQARISHNING HAR BIR BOSQICHIDA QATTIQ NAZORATDAN O‘TKAZILADI.</p>
				</div>
				<div class="four-right">
					<img src="../media/98646cedb03058b79b5e27daca0ae4aa.jpg" alt="">
				</div>
			</div>
            <div class="recipe-section-boxes-card">
				<div class="five-left">
					<img src="../media/8f8487713f940eaf674f9aca67e6bdf7.jpg" alt="">
				</div>
				<div class="five-right">
					<h1 class="five-right-h1">FOYDALANISH KO'P QIRRALIGI</h1>
					<div class="line"></div>
					<p class="five-right-p">
						DILBAR UN UNI NONDAN TORTGACHA BO‘LGAN TURLI XIL TAOMLARNI TAYYORLASH UCHUN JUDA MOS KELADI. UNING KO‘P QIRRALILIGI UNI OSHXONADA MUHIM TARKIBIY QISMGA AYLANTIRADI.</p>
				</div>
			</div>
            <div class="recipe-section-boxes-card">
				<div class="six-left">
					<h1 class="six-left-h1">OZIQLANISH QIYMATI</h1>
					<div class="line"></div>
					<p class="six-left-p">
                        BIZNING UN BUG‘DOY DONIDA SAQLANADIGAN OZUQA MODDALARIGA BOY. BU SIZNING XAMIRINGIZNI NAFAQAT AJOYIB TA'M BILAN, BALKI QIMMATLI OZUQAVIY ELEMENTLAR BILAN HAM TA'MINLAYDI.</p>
				</div>
				<div class="six-right">
					<img src="../media/b090a3069ab4e563c8c7ddf9d83862a0.jpg" alt="">
				</div>
			</div>
		</div>
	</section>

    <section class="product-quality">
        <div class="product-quality-center container">
            <h1>DILBAR UN UNINI TANLASHDA SIZ SIFAT, AN’ANA VA SOG‘LIG‘INGIZGA G‘AMXO‘RLIK QILISHNI TANLAYSIZ. BIZNING UNIMIZ SIZNING OSHXONANGIZDA AJRALMAS HAMROH BO‘LIB, HAR BIR RETSEPTINGIZGA ZAVQ KELTIRISHIGA IMKON BERING.</h1>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-boxes container">
            <div class="box one"><img src="../media/footer-logo.svg" alt="img">
                <p>Un sanoati sohasida liderlar</p>
                <div class="box_texts">
                    <p>Разработка <br>
                        сайта:
                    </p>
                    <a href="#">PROEND TEAM</a>
                </div>
            </div>
            <div class="box two">
                <h2>BIZNING JOYLASHUVIMIZ</h2>
                <h2>3-mikrorayon <br>
                    Guliston, Sirdaryo viloyati</h2>
                <div class="kontakt">
                    <p>KONTAKTLAR</p>
                    <h3><a href="#">+998 90 315 00 83</a></h3>
                    <h3><a href="#">+998 97 432 90 10</a></h3>
                    <h3><a href="#">+998 90 453 56 36</a></h3>
                    <h3><a href="#">+998 98 177 00 83</a></h3>
                </div>  
            </div>
            <div class="box three">
                <p>Korxona haqida</p>
                <p>Mahsulotlar</p>
                <p>Xizmatlar</p>
                <p>Retseptlar</p>
                <p>Kontaktlar</p>
            </div>
            <div class="box four">
                <p>Ijtimoiy tarmoqlar</p>
                <a href="#"><i class="fa-brands fa-telegram"></i>Telegram</a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i>Instagram</a>
                <a href="#"><i class="fa-brands fa-youtube"></i>YouTube</a>
            </div>
        </div>
    </footer>
    
    <script src="../js/products.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
        ScrollReveal().reveal('.banner-logo', {
			delay: 400,
			duration: 1400,
			easing: 'ease-in-out',
			distance: '100px',
			origin: 'top',
			reset: 'true',

		})
		ScrollReveal().reveal('.banner-text', {
			delay: 400,
			duration: 1400,
			distance: '100px',
			origin: 'bottom',
			easing: 'ease-in-out',
			reset: 'true',

		})
        ScrollReveal().reveal('.product-wrapper-boxes-first-box', {
            delay: 200,
			duration: 1400,
			distance: '50px',
			reset: 'true',
			scale: '1.4'

        })
        ScrollReveal().reveal('.product-wrapper-boxes-second-box', {
            delay: 400,
            duration: 1400,
            distance: '150px',
            origin: 'right',
            reset: 'true',

        })
        ScrollReveal().reveal('.product-wrapper-boxes-third-box', {
            delay: 600,
            duration: 1400,
            distance: '150px',
            origin: 'right',
            reset: 'true',

        })
        ScrollReveal().reveal('.one-right, .two-left, .three-right, .four-left, .five-right, .six-left', {
			delay: 200,
			duration: 1400,
			distance: '100px',
			origin: 'bottom',
			reset: 'true',

		})
		ScrollReveal().reveal('.one-left, .two-right, .three-left, .four-right, .five-left, .six-right', {
			delay: 200,
			duration: 1400,
			distance: '90px',
			origin: 'bottom',
			reset: 'true',
			scale: '0.6'

		})
    </script>
</body>

</html>