<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Retseptlar</title>
	<link rel="stylesheet" href="../style/recipts.css">
	<link rel="stylesheet" href="../style/responsive.css">
	<link rel="shortcut icon" href="https://dilbar-un.com/assets/public/images/favicon.png">
	<link rel="stylesheet" href="../style/">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
		integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<header>
		<nav class="menu">
			<div class="menu-elements container">
				<ul type="none">
					<li><a href="../index.html">BOSH SAHIFA</a></li>
					<li><a href="./about.html">KORXONA HAQIDA</a></li>
					<li><a href="./products.html">MAHSULOTLAR</a></li>
					<li><a href="./services.html">XIZMATLAR</a></li>
					<li><a id="active" href="./recipts.html">RETSEPTLAR</a></li>
					<li><a href="./kontakts.html">KONTAKTLAR</a></li>
				</ul>
				<div class="custom-select">
					<div class="selected"> <img src="../media/uzbekistan.png" alt="">UZ<i class="fa-solid fa-angle-down"></i>
					</div>
					<div class="options">
						<div class="option">
							<img src="../media/uzbekistan.png" alt="Image 1" />
							<span>UZ</span>
						</div>
						<div class="option">
							<img src="../media/ru.png" alt="Image 2" />
							<span>RU</span>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div class="banner container">
			<div class="banner_child">
				<img src="../media/banner-logo.svg" alt="banner-logo" class="banner-logo">
				<h1 class="banner-text">RETSEPTLAR</h1>
			</div>
			<div class="arrow-container">
				<div class="arrow"></div>
				<div class="arrow"></div>
				<div class="arrow"></div>
			</div>
		</div>
	</header>


	<section class="recipes-section-recipes">
		<div class="recipes-section-recipes-elements container">
			<div class="recipes-section-recipes-header">
				<form action="#">
					<div class="first-input-parent">
						<input class="first-input" type="text" placeholder="Biron bir aniq retseptni qidiryapsizmi?">
						<button class="input-btn"><span class="btn-text">Topish</span><div class="input-btn-front"></div></button>
					</div>
					<div class="select">
						<select id="slct" required>
							<option value="" disabled selected>Pishirish vaqti</option>
							<option value="#">13</option>
							<option value="#">20</option>
							<option value="#">30</option>
							<option value="#">60</option>
							
						</select>
						<svg>
							<use xlink:href="#select-arrow-down"></use>
						</svg>
					</div>
					<svg class="sprites" xmlns="http://www.w3.org/2000/svg" style="display: none;">
						<symbol id="select-arrow-down" viewBox="0 0 10 6">
							<polyline points="1 1 5 5 9 1"></polyline>
						</symbol>
					</svg>
					<div class="select">
						<select id="slct" required>
							<option value="" disabled selected>Unning navi</option>
							<option value="#">Birinchi navli bug'doy uni</option>
							<option value="#">Oliy navli bug'doy uni</option>
							<option value="#">ikkinchi navli bug'doy uni</option>
							
						</select>
						<svg>
							<use xlink:href="#select-arrow-down"></use>
						</svg>
					</div>
					<svg class="sprites" xmlns="http://www.w3.org/2000/svg" style="display: none;">
						<symbol id="select-arrow-down" viewBox="0 0 10 6">
							<polyline points="1 1 5 5 9 1"></polyline>
						</symbol>
					</svg>
					<button class="offer"><span class="btn-text">retsept taklif qilish</span><div class="offer-front"></div></button>
					</form>
			</div>
		</div>
	</section>


	<div class="section-flour">
	</div>
	<footer class="footer">
		<div class="footer-boxes container">
			<div class="box one"><img src="../media/footer-logo.svg" alt="img">
				<p>Un sanoati sohasida liderlar</p>
				<div class="box_texts">
					<p>Разработка <br>
						сайта:
					</p>
					<a href="#">PROEND TEAM</a>
				</div>
			</div>
			<div class="box two">
				<h2>BIZNING JOYLASHUVIMIZ</h2>
				<h2>3-mikrorayon <br>
					Guliston, Sirdaryo viloyati</h2>
				<div class="kontakt">
					<p>KONTAKTLAR</p>
					<h3><a href="#">+998 90 315 00 83</a></h3>
					<h3><a href="#">+998 97 432 90 10</a></h3>
					<h3><a href="#">+998 90 453 56 36</a></h3>
					<h3><a href="#">+998 98 177 00 83</a></h3>
				</div>
			</div>
			<div class="box three">
				<p>Korxona haqida</p>
				<p>Mahsulotlar</p>
				<p>Xizmatlar</p>
				<p>Retseptlar</p>
				<p>Kontaktlar</p>
			</div>
			<div class="box four">
				<p>Ijtimoiy tarmoqlar</p>
				<a href="#"><i class="fa-brands fa-telegram"></i>Telegram</a>
				<a href="#"><i class="fa-brands fa-square-instagram"></i>Instagram</a>
				<a href="#"><i class="fa-brands fa-youtube"></i>YouTube</a>
			</div>
		</div>
	</footer>
	<script src="../js/recipts.js"></script>
	<script src="https://unpkg.com/scrollreveal"></script>
	<script>
		ScrollReveal().reveal('.banner-logo', {
			delay: 400,
			duration: 1400,
			distance: '100px',
			origin: 'top',
			reset: 'true',

		})
		ScrollReveal().reveal('.banner-text', {
			delay: 400,
			duration: 1400,
			distance: '100px',
			origin: 'bottom',
			reset: 'true',

		})
	</script>
</body>

</html>