<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Xizmatlar</title>
	<link rel="stylesheet" href="../style/services.css">
	<link rel="stylesheet" href="../style/responsive.css">
	<link rel="shortcut icon" href="https://dilbar-un.com/assets/public/images/favicon.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
		integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

	<body>
		<header>
			<nav class="menu">
				<div class="menu-elements container">
					<ul type="none">
						<li><a href="../index.html">BOSH SAHIFA</a></li>
						<li><a href="./about.html">KORXONA HAQIDA</a></li>
						<li><a href="./products.html">MAHSULOTLAR</a></li>
						<li><a id="active" href="./services.html">XIZMATLAR</a></li>
						<li><a href="./recipts.html">RETSEPTLAR</a></li>
						<li><a href="./kontakts.html">KONTAKTLAR</a></li>
					</ul>
					<div class="custom-select">
						<div class="selected"> <img src="../media/uzbekistan.png" alt="">UZ<i class="fa-solid fa-angle-down"></i>
						</div>
						<div class="options">
							<div class="option">
								<img src="../media/uzbekistan.png" alt="Image 1" />
								<span>UZ</span>
							</div>
							<div class="option">
								<img src="../media/ru.png" alt="Image 2" />
								<span>RU</span>
							</div>
						</div>
					</div>
				</div>
			</nav>
			<div class="banner container">
				<div class="banner_child">
					<h1 class="banner-text">DILBAR UN XIZMATLARI</h1>
				</div>
				<div class="arrow-container">
					<div class="arrow"></div>
					<div class="arrow"></div>
					<div class="arrow"></div>
				</div>
			</div>
		</header>
		<section class="service-section">
			<div class="service-section-boxes container">
				<div class="service-section-info">
					<h1>
						DILBAR KORXONASI NAFAQAT YUQORI SIFATLI MAHSULOTLARNI, BALKI ULARNING BIZNESINING RIVOJLANISHI VA O‘SISHINI
						QO‘LLAB-QUVVATLOVCHI TADBIRKORLAR BILAN UZOQ MUDDATLI MUNOSABATLARNI O‘RNATISHGA TAYYOR.
					</h1>
				</div>
				<div class="service-section-boxes-card">
					<div class="one-left">
						<img src="../media/b2d22e165609d07d9225df997a0680a2.jpg" alt="">
					</div>
					<div class="one-right">
						<h1 class="one-right-h1">TA'MINOT</h1>
						<div class="line"></div>
						<p class="one-right-p">

							SIFATLI UN ULGURJI YETKAZIB BERISH: DILBAR ULGURJI XARIDORLARGA TURLI XIL VARIANTLARDAGI YUQORI SIFATLI
							UNNI TAQDIM ETISHGA TAYYOR. BU NONVOYXONALAR, QANDOLATCHILIK SEXLARI, RESTORANLAR VA OZIQ-OVQAT
							SANOATINING BOSHQA KORXONALARI UCHUN AJOYIB IMKONIYATDIR.</p>
					</div>
				</div>
				<div class="service-section-boxes-card">
					<div class="two-left">
						<h1 class="two-left-h1">SHAHSIY BUYURTMALAR VA RETSEPTLARNI ISHLAB CHIQISH</h1>
						<div class="line"></div>
						<p class="two-left-p">

							DILBAR KOMPANIYASI O‘ZIGA XOS TARKIB VA TEKSTURAGA EGA UNNI YARATIB, INDIVIDUAL BUYURTMALAR BO‘YICHA
							MIJOZLAR BILAN ISHLASHGA TAYYOR. BU, AYNIQSA, EKSKLYUZIV MAHSULOTLARNI ISHLAB CHIQMOQCHI BO‘LGAN
							TADBIRKORLAR UCHUN TO‘G‘RI KELADI.</p>
					</div>
					<div class="two-right">
						<img src="../media/d7ba5bf239dec255daa72f5eb1a67ca2.jpg" alt="">
					</div>
				</div>
				<div class="service-section-boxes-card">
					<div class="three-left">
						<img src="../media/36b328c2a86f7a508b0e1d42d2380e53.jpg" alt="">
					</div>
					<div class="three-right">
						<h1 class="three-right-h1">TEXNIK YORDAM VA KONSALTING</h1>
						<div class="line"></div>
						<p class="three-right-p">
							DILBAR MIJOZLARGA TEXNIK YORDAM KO‘RSATADI, JUMLADAN, TURLI XIL PISHIRISH JARAYONLARIDA UNDAN FOYDALANISH
							BO‘YICHA MASLAHATLAR BERADI. BU NONVOYXONALAR UCHUN MUHIM AFZALLIK BO‘LIB, UNNI TO‘G‘RI ISHLATISH ASOSIY
							HISOBLANADI.</p>
					</div>
				</div>
				<div class="service-section-boxes-card">
					<div class="four-left">
						<h1 class="four-left-h1">MIJOZ DASTURLARI VA AKTSIYALARI</h1>
						<div class="line"></div>
						<p class="four-left-p">
							DILBAR BRENDI DOIMIY MIJOZLAR UCHUN CHEGIRMALAR, BONUSLAR VA MAXSUS TAKLIFLARNI TAQDIM ETUVCHI MIJOZLAR DASTURLARINI YARATADI. BU SODIQLIKNI SAQLASH VA UZOQ MUDDATLI HAMKORLIK UCHUN TADBIRKORLARGA MINNATDORCHILIK BILDIRISHNING BIR USULIDIR.
						</p>
					</div>
					<div class="four-right">
						<img src="../media/97c0e3a81d123a488ec726bf08d52400.jpg" alt="">
					</div>
				</div>
			</div>
		</section>
		<div class="service-parallax">
		</div>

		<footer class="footer">
			<div class="footer-boxes container">
				<div class="box one"><img src="../media/footer-logo.svg" alt="img">
					<p>Un sanoati sohasida liderlar</p>
					<div class="box_texts">
						<p>Разработка <br>
							сайта:
						</p>
						<a href="#">PROEND TEAM</a>
					</div>
				</div>
				<div class="box two">
					<h2>BIZNING JOYLASHUVIMIZ</h2>
					<h2>3-mikrorayon <br>
						Guliston, Sirdaryo viloyati</h2>
					<div class="kontakt">
						<p>KONTAKTLAR</p>
						<h3><a href="#">+998 90 315 00 83</a></h3>
						<h3><a href="#">+998 97 432 90 10</a></h3>
						<h3><a href="#">+998 90 453 56 36</a></h3>
						<h3><a href="#">+998 98 177 00 83</a></h3>
					</div>
				</div>
				<div class="box three">
					<p>Korxona haqida</p>
					<p>Mahsulotlar</p>
					<p>Xizmatlar</p>
					<p>Retseptlar</p>
					<p>Kontaktlar</p>
				</div>
				<div class="box four">
					<p>Ijtimoiy tarmoqlar</p>
					<a href="#"><i class="fa-brands fa-telegram"></i>Telegram</a>
					<a href="#"><i class="fa-brands fa-square-instagram"></i>Instagram</a>
					<a href="#"><i class="fa-brands fa-youtube"></i>YouTube</a>
				</div>
			</div>
		</footer>

		<script src="../js/services.js"></script>
		<script src="https://unpkg.com/scrollreveal"></script>
<script>

		ScrollReveal().reveal('.service-section-info', {
			delay: 100,
			duration: 1300,
			distance: '150px',
			origin: 'top',
			reset: 'true',

		})
		ScrollReveal().reveal('.one-right, .two-left, .three-right, .four-left', {
			delay: 200,
			duration: 1400,
			distance: '100px',
			origin: 'bottom',
			reset: 'true',

		})
		ScrollReveal().reveal('.one-left, .two-right, .three-left, .four-right', {
			delay: 200,
			duration: 1400,
			distance: '90px',
			origin: 'bottom',
			reset: 'true',
			scale: '0.6'

		})
</script>
	</body>

</html>