* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	font-family: sans-serif;
}

.container {
	max-width: 1172px;
	margin: 0 auto;
}

header {
	width: 100%;
	height: 100vh;
	background-image: url(../media/524c2ed9983f4c3db4b9b86fe56b4942.jpg);
	pointer-events: none;
	display: grid;
	place-items: center;
	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
	counter-increment: gallery-cell;
	object-position: center;
}

header .menu,
header .banner {
	pointer-events: auto;
}

.menu {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(25px);
	padding: 15px 0px;
	gap: 80px;
	-webkit-box-shadow: 0px 2px 22px -2px rgba(0, 0, 0, 0.64);
	-moz-box-shadow: 0px 2px 22px -2px rgba(0, 0, 0, 0.64);
	box-shadow: 0px 2px 22px -2px rgba(0, 0, 0, 0.64);
	position: fixed;
	top: 0;
	z-index: 40;
}

.menu-elements {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 80px;
}

.menu ul {
	display: flex;
	align-items: center;
	gap: 30px;
}

.menu ul li {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

.menu ul li a {
	text-decoration: none;
	color: #a9a9a9;
}

.menu ul li a:hover {
	cursor: pointer;
}

#active {
	color: white;
	font-size: 20px;
}

.menu select {
	width: 100px;
	background: none;
	border: none;
	text-align: center;
	line-height: 0 auto;
	color: white;
	outline: none;
	font-size: 23px;
	font-weight: bold;
	padding: 15px 7px;
	text-transform: uppercase;
}

.menu select option {
	color: black;
}

.menu select:hover {
	cursor: pointer;
}

.fa-angle-down {
	font-size: 15px;
}

.custom-select {
	width: 100px;
	background: none;
	border: none;
	text-align: center;
	line-height: 0 auto;
	color: white;
	outline: none;
	font-size: 23px;
	font-weight: bold;
	padding: 15px 7px;
	text-transform: uppercase;
	position: relative;
}

.selected {
	background: none;
	padding: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	gap: 5px;
	align-items: center;
	color: white;
}

.selected img {
	width: 30px;
	object-fit: contain;
}

.options {
	display: none;
	position: absolute;
	background: white;
	z-index: 1000;
	width: 100%;
	color: black;
	border-radius: 5px;
	padding: 10px;
}

.option {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
	font-weight: 600;
	margin: 10px;
}

.option img {
	width: 30px;
	object-fit: cover;
	margin-right: 10px;
}

.banner {
	width: 550px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.banner_child {
	pointer-events: none;
	width: 550px;
	gap: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.banner img {
	width: 100%;
}

.banner-text {
	color: white;
	font-size: 40px;
	text-align: center;
	display: flex;
	gap: 15px;
	width: 90%;
}

.arrow-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: absolute;
	bottom: 50px;
}

.arrow {
	width: 20px;
	height: 20px;
	border-right: 3px solid white;
	border-bottom: 3px solid white;
	transform: rotate(45deg);
	animation: moveDown 2s infinite;
	border-radius: 3px;
}

.arrow:nth-child(2) {
	animation-delay: 0.3s;
}

.arrow:nth-child(3) {
	animation-delay: 0.6s;
}

@keyframes moveDown {
	0% {
		transform: translateY(0) rotate(45deg);
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		transform: translateY(20px) rotate(45deg);
		opacity: 0;
	}
}

.contact-number-section{
	width: 100%;
	background-image: url(../media/background.png);
	background-position: center;
	object-fit: cover;
	object-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 0 auto;
	padding: 80px 0;

}

.map{
	max-width: 100%;
	display: flex;
	gap: 60px ;
	justify-content: center;
	height: 660px;
	border-radius: 50px;
}

iframe{
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 8px 3px;
	border-radius: 50px;
	border: none;
}

.section-flour{
	width: 100%;
	height: 468px;
	background-image: url(../media/1184a577ed69729dff556795bb215698.png);
	background-position: center;
	object-fit: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contacts{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 50px 0 0 0;
	gap: 30px;
}

.info{
	width: 650px;
	height: 84px;
	border-radius: 50px;
	text-align: center;
	padding: 12px 50px;
	border: none;
	box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 8px 3px;
	font-weight: 700;
	line-height: normal;
	font-size: 15px;
	color: #502f0f;
	text-transform: uppercase;
	background-color: white;
}

.number{
	width: 80%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.number button {
	width: 312.73px;
	height: 66px;
	text-align: center;
	padding: 12px 50px;
	font-size: 25px;
	background-color: white;
	box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 8px 3px;
	border: 1px solid #d7d7d7;
	border-radius: 50px;	
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: normal;
	position: relative;
	text-transform: uppercase;
}

.number button:hover{
	cursor: pointer;
}

.number button span{
	color: #502f0f;
	z-index: 3;
	position: absolute;
}

.first-btn-front, .second-btn-front, .third-btn-front, .fourth-btn-front{
	width: 10px;
	height: 10px;
	position: absolute;
}

.footer {
	width: 100%;
	height: 1281px;
	background-image: url(../media/footer-background.jpg);
	background-position: center;
	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.partner{
	position: absolute;
	top: 80px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.partner-title{
	font-size: 35px;
	line-height: 114%;
	font-weight: 700;
	text-align: center;
	color: #502f0f;
}

.partner-form{
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
	padding: 50px 0;
}

.partner-form label{
	width: 100%;
	padding-left: 200px;
	line-height: 80px;
}

.partner-form label input{
	text-decoration: none;
	color: #502f0f;
	font-size: 25px;
	font-weight: 700;
	line-height: normal;
	font-weight: 600;
	border: 1px solid rgba(80, 47, 15, 0.2);
	border-radius: 100px;
	background: rgba(255, 231, 204, 0.2);
	padding: 14px 22px;
	max-width: 734px;
	width: 100%;
	backdrop-filter: blur(50px);
}

label h4 {
	font-size: 20px;
	font-weight: 700;
	line-height: 170%;
	color: #502f0f;
	text-transform: uppercase;
	margin: 0;
}

.partner-btn{
	width: 60px;
	height: 60px;
	background-color: rgba(255, 231, 204, 0.2);
	font-size: 26px;
	padding: 0;
	border: 1px solid rgba(80, 47, 15, 0.2);
	border-radius: 50%;
	backdrop-filter: blur(50px);
	color: #502f0f;
	margin-left: 20px;
}

button:hover{
	cursor: pointer;
}

.footer-boxes {
	display: flex;
	margin-top: 560px;
	padding: 60px 10px;
	gap: 50px;
}

.box_texts {
	display: flex;
	gap: 70px;
	margin-top: 5px;
}

a {
	text-decoration: none;
}

.one {
	height: 280px;
	width: 440px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.one p {
	font-size: 20px;
	font-weight: 700;
	color: rgb(80, 47, 15);
}

.box_texts a {
	color: #502f0f;
	font-size: 20px;
	font-weight: 700;
}

.box_texts a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.two {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	font-size: 20px;
	font-weight: 700;
	width: 400px;
	align-items: center;
}

.two h2 {
	color: black;
	font-size: 20px;
}

.two h2:hover {
	cursor: pointer;
}

.two a {
	color: #502f0f;
}

.two a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.kontakt {
	margin: 20px 0;
	width: 80%;
	gap: 20px;
	display: flex;
	flex-wrap: wrap;
}

.three {
	width: 260px;
}

.three p {
	font-size: 20px;
	font-weight: 700;
	color: #502f0f;
	line-height: 35px;
}

.three p:hover {
	cursor: pointer;
}

.four {
	width: 195px;
	display: flex;
	flex-wrap: wrap;
	height: 190px;
}

.four p {
	font-size: 16px;
	color: #502f0f;
	font-weight: 700;
}

.four a {
	color: #502f0f;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	display: flex;
	gap: 10px;
}

.fa-brands {
	font-size: 30px;
}