* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	font-family: sans-serif;
}

.container {
	max-width: 1172px;
	margin: 0 auto;
}

header {
	width: 100%;
	height: 100vh;
	background-image: url(../media/2f1066d60e37760c7a7faaaad174dbd8.jpg);
	pointer-events: none;
	display: grid;
	place-items: center;
	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
	counter-increment: gallery-cell;
	object-position: center;
}

header .menu,
header .banner {
	pointer-events: auto;
}

.menu {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(25px);
	padding: 15px 0px;
	gap: 80px;
	-webkit-box-shadow: 0px 2px 22px -2px rgba(0, 0, 0, 0.64);
	-moz-box-shadow: 0px 2px 22px -2px rgba(0, 0, 0, 0.64);
	box-shadow: 0px 2px 22px -2px rgba(0, 0, 0, 0.64);
	position: fixed;
	top: 0;
	z-index: 40;
}

.menu-elements {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 80px;
}

.menu ul {
	display: flex;
	align-items: center;
	gap: 30px;
}

.menu ul li {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

.menu ul li a {
	text-decoration: none;
	color: #a9a9a9;
}

.menu ul li a:hover {
	cursor: pointer;
}

#active {
	color: white;
	font-size: 20px;
}

.menu select {
	width: 100px;
	background: none;
	border: none;
	text-align: center;
	line-height: 0 auto;
	color: white;
	outline: none;
	font-size: 23px;
	font-weight: bold;
	padding: 15px 7px;
	text-transform: uppercase;
}

.menu select option {
	color: black;
}

.menu select:hover {
	cursor: pointer;
}

.fa-angle-down {
	font-size: 15px;
}

.custom-select {
	width: 100px;
	background: none;
	border: none;
	text-align: center;
	line-height: 0 auto;
	color: white;
	outline: none;
	font-size: 23px;
	font-weight: bold;
	padding: 15px 7px;
	text-transform: uppercase;
	position: relative;
}

.selected {
	background: none;
	padding: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	gap: 5px;
	align-items: center;
	color: white;
}

.selected img {
	width: 30px;
	object-fit: contain;
}

.options {
	display: none;
	position: absolute;
	background: white;
	z-index: 1000;
	width: 100%;
	color: black;
	border-radius: 5px;
	padding: 10px;
}

.option {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
	font-weight: 600;
	margin: 10px;
}

.option img {
	width: 30px;
	object-fit: cover;
	margin-right: 10px;
}

.banner {
	width: 550px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.banner_child {
	pointer-events: none;
	width: 550px;
	gap: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.banner img {
	width: 100%;
}

.banner-text {
	color: white;
	font-size: 40px;
	text-align: center;
	display: flex;
	gap: 15px;
}

.arrow-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: absolute;
	bottom: 50px;
}

.arrow {
	width: 20px;
	height: 20px;
	border-right: 3px solid white;
	border-bottom: 3px solid white;
	transform: rotate(45deg);
	animation: moveDown 2s infinite;
	border-radius: 3px;
}

.arrow:nth-child(2) {
	animation-delay: 0.3s;
}

.arrow:nth-child(3) {
	animation-delay: 0.6s;
}

@keyframes moveDown {
	0% {
		transform: translateY(0) rotate(45deg);
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		transform: translateY(20px) rotate(45deg);
		opacity: 0;
	}
}

.recipes-section-recipes {
	width: 100%;
	background-image: url(../media/background.png);
	background-position: center;
	object-fit: cover;
	object-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 0 auto;
	padding: 80px 0;
}

.recipes-section-recipes-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100%;
}

.first-input-parent {
	display: flex;
	position: relative;
	border-radius: 30px;
}

.first-input {
	width: 418px;
	height: 48px;
	padding: 0 150px 0 20px;
	font-size: 21.2px;
	border: 1px solid #d4d4d4;
	border-radius: 30px;
	outline: none;
}

.input-btn {
	right: 0;
	position: absolute;
	width: 130px;
	height: 48px;
	font-weight: 700;
	padding: 10px;
	font-size: 21.3px;
	color: white;
	background-color: #905925;
	border: none;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-btn-front {
	width: 10px;
	height: 10px;
	position: absolute;
	z-index: 0;
	border-radius: 50%;
}

.btn-text {
	position: absolute;
	z-index: 5;
}

form {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 30px;
	padding-right: 60px;
}

button:hover {
	cursor: pointer;
}

.section-flour {
	width: 100%;
	height: 468px;
	background-image: url(../media/recipes-img.jpg);
	background-position: center;
	object-fit: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
}

.select {
	position: relative;
	width: 173px;
}

.select select {
	-webkit-appearance: none;
	width: 100%;
	height: 50px;
	border: 1px solid #e8eaed;
	border-radius: 30px;
	padding: 0 20px;
	background: white;
	font-family: inherit;
	font-size: 19px;
	color: #502f0f;
	cursor: pointer;
	transition: all 150ms ease;
}

.select select:focus {
	outline: none;
}

.select svg {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	width: 13px;
	height: 10px;
	stroke-width: 2px;
	stroke: #9098a9;
	fill: none;
	pointer-events: none;
}

.offer {
	width: 250px;
	height: 50px;
	font-weight: 700;
	padding: 10px;
	font-size: 21.3px;
	color: white;
	background-color: #905925;
	border: none;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.offer-front {
	width: 10px;
	height: 10px;
	position: absolute;
	z-index: 2;
	border-radius: 50%;
}

.recipes-wrapper {
	margin-top: 50px;
	padding: 10px 0;
	display: flex;
	gap: 40px;
	position: relative;
}

.recipes-wrapper-menu {
	width: 20%;
	
}

.recipes-wrapper-menu-items{
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	position: sticky;
	top: 62px;
	bottom: 0;

}

a{
	text-decoration: none;
	color: black;
}

.recipes-wrapper-menu-items-texts {
	display: flex;
	gap: 20px;
	flex-direction: column;
}

.recipes-wrapper-menu-items-texts p a{
	color: var(--color-black1);
	font-size: 15px;
	font-weight: 600;
	line-height: 106%;
}

.recipes-wrapper-menu-items-texts-category{
	color: var(--color-black1);
    font-size: 20px;
    font-weight: 700;
    line-height: 170%;
		margin-bottom: 10px;
}

.recipes-wrapper-menu-items-img{
	width: 245px;
	height: 656px;
	background-image: url(../media/896f5b77c6287cfe9a22cfa0dc02d189.jpg);
	background-position: center;
	object-fit: cover;
	object-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: rgba(99, 99, 99, 0.2) 2px 3px 8px 3px;
	display: flex;
	justify-content: center;
	border-radius: 15px;
	align-items: end;
	padding: 40px 0;
	flex-wrap: wrap;
	padding-top: 20rem;
	position: relative;
	overflow: hidden;
}

.recipes-wrapper-menu-items-img::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 185px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(255, 255, 255, 0.8) 0px -50px 45px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	pointer-events: none;
}

.recipes-wrapper-menu-items-img h2{
	position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 60%;
    bottom: 17px;
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
    color: var(--color-brown1);
    text-transform: uppercase;
    text-align: center;
    margin: 0;
		color: #502f0f;
		z-index: 4;
}

.recipes-wrapper-row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.recipes-wrapper-row-parent{
	width: 80%;
}

.recipes-wrapper-row img {
	width: 100%;
	height: 260px;
	object-fit: cover;
	object-position: center;
	border-radius: 15px;
	box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 8px 3px;

}

.recipes-wrapper-row-card{
	width: 31%;
	height: 0 auto;
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.recipes-wrapper-row-card h4{
	color: var(--color-black1);
	font-size: 16.5px;
	font-weight: 600;
	line-height: 95%;
}

.recipes-wrapper-row-card p {
	color: var(--color-black1);
	font-size: 14px;
	font-weight: 400;
	line-height: 121%;
}

.footer {
	width: 100%;
	height: 1281px;
	background-image: url(../media/footer-background.jpg);
	background-position: center;
	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-boxes {
	display: flex;
	margin-top: 560px;
	padding: 60px 10px;
}

.box_texts {
	display: flex;
	gap: 70px;
	margin-top: 5px;
}

a {
	text-decoration: none;
}

.one {
	height: 280px;
	width: 440px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.one p {
	font-size: 20px;
	font-weight: 700;
	color: rgb(80, 47, 15);
}

.box_texts a {
	color: #502f0f;
	font-size: 20px;
	font-weight: 700;
}

.box_texts a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.two {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	font-size: 20px;
	font-weight: 700;
	width: 400px;
	align-items: center;
}

.two h2 {
	color: black;
	font-size: 20px;
}

.two h2:hover {
	cursor: pointer;
}

.two a {
	color: #502f0f;
}

.two a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.kontakt {
	margin: 20px 0;
	width: 80%;
	gap: 20px;
	display: flex;
	flex-wrap: wrap;
}

.three {
	width: 260px;
}

.three p {
	font-size: 20px;
	font-weight: 700;
	color: #502f0f;
	line-height: 35px;
}

.three p:hover {
	cursor: pointer;
}

.four {
	width: 195px;
	display: flex;
	flex-wrap: wrap;
	height: 190px;
}

.four p {
	font-size: 16px;
	color: #502f0f;
	font-weight: 700;
}

.four a {
	color: #502f0f;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	display: flex;
	gap: 10px;
}

.fa-brands {
	font-size: 30px;
}

@media (max-width:500px) {
	.one img{
		width: 120px;
	}
	.box_texts a{
		font-size: 8px;
	}
	.box_texts {
		gap: 15px;
	}
	.one{
		width: 140px;
		height: 160px;
	}
	.two{
		width: 120px;
	}
	.kontakt{
		gap: 10px;
	}
	.three{
		width: 80px;
	}
	.four{
		width: 15px;
		height: 130px;
	}
	.one p {
		font-size: 8px;
	}
	.box-texts a{
		font-size: 8px
	}
	.two{
		font-size: 8px;
		gap: 20px;
	}
	.two h2{
		font-size: 8px;
	}
	.three p {
		font-size: 8px;
	}
	.four p{
		font-size: 8px;
	}
	.four a{
		font-size: 8px;
	}
}



@media (max-width:555px) {

	.box_texts a{
		font-size: 10px;
	}
	.box_texts {
		gap: 20px;
	}
	.one{
		width: 100px;
		height: 120px;
	}
	.two{
		width: 120px;
	}
	.three{
		width: 60px;
	}
	.four{
		width: 10px;
		height: 100px;
	}
	.one p {
		font-size: 8px;
	}
	.box-texts a{
		font-size: 8px
	}
	.two{
		font-size: 8px;
		gap: 20px;
	}
	.two h2{
		font-size: 8px;
	}
	.three p {
		font-size: 8px;
	}
	.four p{
		font-size: 8px;
	}
	.four a{
		font-size: 8px;
	}
}


@media (max-width:625px) {
	.box_texts a{
		font-size: 14px;
	}
	.box_texts {
		gap: 25px;
	}
	.one{
		width: 200px;
		height: 200px;
	}
	.two{
		width: 140px;
	}
	.three{
		width: 100px;
	}
	.four{
		width: 20px;
		height: 130px;
	}
}


@media (max-width:680px){
	.one img{
		width: 150px;
	}
	.one p {
		font-size: 10px;
	}
	.box-texts a{
		font-size: 10px
	}
	.two{
		font-size: 10px;
	}
	.two h2{
		font-size: 10px;
	}
	.three p {
		font-size: 10px;
	}
	.four p{
		font-size: 8px;
	}
	.four a{
		font-size: 8px;
	}
	.fa-brands{
		font-size: 15px;
	}
	.box_texts a{
		font-size: 14px;
	}
	.box_texts {
		gap: 30px;
	}
	.one{
		height: 240px;
	}
	.four{
		height: 160px;
	}
}


@media (max-width:721px) {

	.one{
		width: 240px;
	}
	.two{
		width: 180px;
	}
	.three{
		width: 110px;
	}
	.four{
		width: 30px;
	}
	.one img {
		width: 200px;
	}
	.box_texts a{
		font-size: 15px;
	}
	.box_texts {
		gap: 40px;
	}

}

@media (max-width:740px) {
	.service-section-boxes-card img {
		width: 100%;
	}
}

@media (max-width:885px) {
	.service-section-info h1{
		font-size: 25px;
	}
	.service-section-boxes-card h1{
		font-size: 30px;
	}
	.service-section-boxes-card p {
		font-size: 24px;
	}
	.one p {
		font-size: 12px;
	}
	.box-texts a{
		font-size: 12px
	}
	.two{
		font-size: 12px;
	}
	.two h2{
		font-size: 12px;
	}
	.three p {
		font-size: 12px;
	}
	.four p{
		font-size: 8px;
	}
	.four a{
		font-size: 12px;
	}
	.one{
		width: 260px;
	}
	.two{
		width: 200px;
	}
	.three{
		width: 120px;
	}
	.four{
		width: 35px;
	}
	.fa-brands{
		font-size: 20px;
	}
	.box_texts a{
		font-size: 16px;
	}
	.box_texts {
		gap: 50px;
	}
}




@media (max-width:1000px) {

	.one{
		width: 320px;
	}
	.two{
		width: 280px;
	}
	.three{
		width: 140px;
	}
	.four{
		width: 75px;
	}
}

@media (max-width:1155px) {
	.one p {
		font-size: 14px;
	}
	.box-texts a{
		font-size: 14px
	}
	.two{
		font-size: 14px;
	}
	.two h2{
		font-size: 14px;
	}
	.three p {
		font-size: 14px;
	}
	.four p{
		font-size: 10px;
	}
	.four a{
		font-size: 14px;
	}
	.one{
		width: 300px;
	}
	.two{
		width: 300px;
	}
	.three{
		width: 140px;
	}
	.four{
		width: 105px;
	}
}


@media (max-width: 1171px) {

	.one p {
		font-size: 15px;
	}
	.box-texts a{
		font-size: 15px
	}
	.two{
		font-size: 15px;
	}
	.two h2{
		font-size: 15px;
	}
	.three p {
		font-size: 15px;
	}
	.four p{
		font-size: 11px;
	}
	.four a{
		font-size: 15px;
	}
	.one{
		width: 400px;
	}
	.two{
		width: 360px;
	}
	.three{
		width: 220px;
	}
	.four{
		width: 155px;
	}
}

@media (max-width:540px) {
	.one{
		width: 140px !important;
	}
	.two{
		width: 100px !important;
	}
	.three{
		width: 60px !important;
	}
}

@media (max-width:430px) {
	.recipe-section-boxes-card img {
		width: 100%;
	}
}

@media (max-width:1171px) {
	.banner-text {
		font-size: 40px !important;
	}
}

@media (max-width:740px) {

	.service-section-boxes-card img {
		width: 100%;
	}
	.service-section-info h1{
		font-size: 25px !important;
	}
	.service-section-boxes-card h1{
		font-size: 23px !important;
	}
	.service-section-boxes-card p {
		font-size: 17px !important;
	}
}

@media (max-width:550px) {
	.footer-boxes{
		gap: 10px;
	}
	.one{
		width: 150px;
	}
	.two{
		display: none;
	}
	.three{ 
		width: 100px;
	}
	.service-section-info h1{
		font-size: 19px !important;
	}
}

@media (max-width:1800px) {
	form{
		flex-wrap: wrap;
	}
	.select{
		width: 28% !important;
	}
	.recipes-wrapper-row img {
		height: 220px;
	}
}

@media (max-width:1340px) {
	.recipes-wrapper-menu{
		width: 100%;
	}
	.recipes-wrapper-menu-items{
		width: 100%;
	}
	.recipes-wrapper-menu-items-texts{
		width: 100%;
		display: flex;
		padding: 40px 10px 0px 10px;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		gap: 50px;
	}
	.recipes-wrapper{
		flex-wrap: wrap;
	}
	.recipes-wrapper-menu-items-img{
		display: none;
	}
	.recipes-wrapper-row-parent{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	form{
		padding-right: 0px;
	}
	.recipes-wrapper-row{
		width: 100%;
	}
}

@media (max-width:855px) {
	.recipes-wrapper-menu-items-texts{
		padding: 40px 5px 0px 5px;
		gap: 25px;
	}
		.recipes-wrapper-row{
			gap: 15px;
		}
}

@media (max-width:700px) {
	.recipes-wrapper-menu-items-texts p a{
		font-size: 13px;
	}
	.recipes-wrapper-menu-items-texts-category{
		font-size: 15px;
	}
	.recipes-wrapper-menu-items-texts{
		padding: 40px 0 0 0;
		gap: 15px;
	}
	.recipes-wrapper-row-card{
		width: 48%;
	}
}

@media (max-width:450px) {
	.banner-text{
		font-size: 18px !important;
	}
}

@media (max-width: 550px) {

	.banner-text {
		width: 47% !important;
		font-size: 33px !important;
	}
}