@media (max-width: 1415px) {
	#home {
		font-size: 16px;
	}
	.menu ul li {
		font-size: 15px;
	}
	
	.info-right p {
		font-size: 17px;
	}
	.banner img {
		width: 70%;
	}
	.banner-text {
		font-size: 33px;
	}
	.partner-items-h1{
		font-size: 40px;
		width: 100%;
		text-align: center;
	}
	.one p {
		font-size: 18px;
	}
	.box-texts a{
		font-size: 18px
	}
	.two{
		font-size: 18px;
	}
	.two h2{
		font-size: 18px;
	}
	.three p {
		font-size: 18px;
	}
	.four p{
		font-size: 14px;
	}
	.four a{
		font-size: 18px;
	}
}

@media (max-width:1340px) {
	.about-boxes-box{
		width: 30%;
		height: 380px;
	}
}

@media (max-width: 1244px) {
	#home {
		font-size: 14px;
	}
	.menu ul li {
		font-size: 13px;
	}
	.partner-items-h1{
		font-size: 36px;
	}
	.one p {
		font-size: 16px;
	}
	.box-texts a{
		font-size: 16px
	}
	.two{
		font-size: 16px;
	}
	.two h2{
		font-size: 16px;
	}
	.three p {
		font-size: 16px;
	}
	.four p{
		font-size: 12px;
	}
	.four a{
		font-size: 16px;
	}
}

@media (max-width: 1075px) {
	.menu-elements {
		justify-content: space-around;
	}
	.menu ul {
		display: none;
	}
	.banner img {
		width: 67%;
	}
	.banner-text {
		font-size: 28px;
	}
	.about-boxes-box{
		width: 305px;
		height: 320px;
	}
}

@media (max-width: 1172px) {
	.info-boxes {
		width: 100%;
		flex-wrap: wrap;
	}

	.info-left {
		justify-content: center;
		align-items: center;
		max-width: 100%;
	}

	.info-left img {
		width: 500px;
		height: 400px;
	}

	.info-right {
		width: 100%;
		padding: 0px 20px;
	}

	.info-right p {
		font-size: 18px;
		width: 100%;
	}
	.one p {
		font-size: 15px;
	}
	.box-texts a{
		font-size: 15px
	}
	.two{
		font-size: 15px;
	}
	.two h2{
		font-size: 15px;
	}
	.three p {
		font-size: 15px;
	}
	.four p{
		font-size: 11px;
	}
	.four a{
		font-size: 15px;
	}
	.one{
		width: 400px;
	}
	.two{
		width: 360px;
	}
	.three{
		width: 220px;
	}
	.four{
		width: 155px;
	}
}

@media (max-width:1155px) {
	.one p {
		font-size: 14px;
	}
	.box-texts a{
		font-size: 14px
	}
	.two{
		font-size: 14px;
	}
	.two h2{
		font-size: 14px;
	}
	.three p {
		font-size: 14px;
	}
	.four p{
		font-size: 10px;
	}
	.four a{
		font-size: 14px;
	}
	.one{
		width: 360px;
	}
	.two{
		width: 320px;
	}
	.three{
		width: 180px;
	}
	.four{
		width: 115px;
	}
}

@media (max-width:1000px) {

	.about{
		padding: 0px 30px;
		height: 1168px;
	}

	.about-boxes{
		width: 50%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.about-boxes-box{
		width: 100%;
		height: 330px;
	}

	.one{
		width: 320px;
	}
	.two{
		width: 280px;
	}
	.three{
		width: 140px;
	}
	.four{
		width: 75px;
	}
}

@media (max-width:885px) {
	.one p {
		font-size: 12px;
	}
	.box-texts a{
		font-size: 12px
	}
	.two{
		font-size: 12px;
	}
	.two h2{
		font-size: 12px;
	}
	.three p {
		font-size: 12px;
	}
	.four p{
		font-size: 8px;
	}
	.four a{
		font-size: 12px;
	}
	.one{
		width: 260px;
	}
	.two{
		width: 200px;
	}
	.three{
		width: 120px;
	}
	.four{
		width: 35px;
	}
	.fa-brands{
		font-size: 20px;
	}
	.box_texts a{
		font-size: 16px;
	}
	.box_texts {
		gap: 50px;
	}
}

@media (max-width: 740px) {
	.info-left {
		width: 95%;
		height: 400px;
	}
	.info-left img {
		max-width: 100%;
		height: 100%;
	}
	.banner img {
		width: 50%;
	}
	.banner-text {
		font-size: 22px;
	}
	.parallax_two_center{
		font-size: 40px;
		text-align: center;
	}
}

@media (max-width:721px) {

	.one{
		width: 240px;
	}
	.two{
		width: 180px;
	}
	.three{
		width: 110px;
	}
	.four{
		width: 30px;
	}
	.one img {
		width: 200px;
	}
	.box_texts a{
		font-size: 15px;
	}
	.box_texts {
		gap: 40px;
	}
}

@media (max-width:680px){
	.one img{
		width: 150px;
	}
	.one p {
		font-size: 10px;
	}
	.box-texts a{
		font-size: 10px
	}
	.two{
		font-size: 10px;
	}
	.two h2{
		font-size: 10px;
	}
	.three p {
		font-size: 10px;
	}
	.four p{
		font-size: 8px;
	}
	.four a{
		font-size: 8px;
	}
	.fa-brands{
		font-size: 15px;
	}
	.box_texts a{
		font-size: 14px;
	}
	.box_texts {
		gap: 30px;
	}
	.one{
		height: 240px;
	}
	.four{
		height: 160px;
	}
}

@media (max-width:625px) {
	.box_texts a{
		font-size: 14px;
	}
	.box_texts {
		gap: 25px;
	}
	.one{
		width: 200px;
		height: 200px;
	}
	.two{
		width: 140px;
	}
	.three{
		width: 100px;
	}
	.four{
		width: 20px;
		height: 130px;
	}
}

@media (max-width:555px) {
	.one img{
		width: 130px;
	}
	.box_texts a{
		font-size: 10px;
	}
	.box_texts {
		gap: 20px;
	}
	.one{
		width: 160px;
		height: 180px;
	}
	.two{
		width: 140px;
	}
	.three{
		width: 80px;
	}
	.four{
		width: 15px;
		height: 130px;
	}
	.one p {
		font-size: 8px;
	}
	.box-texts a{
		font-size: 8px
	}
	.two{
		font-size: 8px;
		gap: 20px;
	}
	.two h2{
		font-size: 8px;
	}
	.three p {
		font-size: 8px;
	}
	.four p{
		font-size: 8px;
	}
	.four a{
		font-size: 8px;
	}
}

@media (max-width:500px) {
	.one img{
		width: 120px;
	}
	.box_texts a{
		font-size: 8px;
	}
	.box_texts {
		gap: 15px;
	}
	.one{
		width: 140px;
		height: 160px;
	}
	.two{
		width: 120px;
	}
	.kontakt{
		gap: 10px;
	}
	.three{
		width: 80px;
	}
	.four{
		width: 15px;
		height: 130px;
	}
	.one p {
		font-size: 8px;
	}
	.box-texts a{
		font-size: 8px
	}
	.two{
		font-size: 8px;
		gap: 20px;
	}
	.two h2{
		font-size: 8px;
	}
	.three p {
		font-size: 8px;
	}
	.four p{
		font-size: 8px;
	}
	.four a{
		font-size: 8px;
	}
}

@media (max-width: 550px) {
	.banner img {
		width: 40%;
	}
	.banner-text {
		width: 70%;
	}
}

@media (max-width: 600px) {
	.info-right p {
		font-size: 14px;
	}
}

@media (max-width: 465px) {
	.info-right p:nth-child(3) {
		display: none;
	}
}

@media (max-width: 400px) {
	.info-right p {
		font-size: 12px;
	}
}

@media (max-width: 1345px) {
	.recipe-boxes img {
		width: 400px;
		height: 400px;
	}
	.recipe-boxes{
		width: 90%;
	}
	.recipe-boxes-firstfood, .recipe-boxes-secondfood{
		max-width: 80%;
	}

	.recipe-boxes-firstfood-right-h1, .recipe-boxes-secondfood-left-h1{
		font-size: 30px;
	}
	.recipe-boxes-firstfood-right-p, .recipe-boxes-secondfood-left-p{
		font-size: 21px;
	}
	.line{
		width: 510px;
	}
}

@media (max-width:1180px) {
		
	.about-section-boxes-card{
		flex-wrap: wrap;
		justify-content: center;
	}
	.about-section-boxes-card div{
		justify-content: center;
		text-align: center;
		width: 90%;
	}
	.about-section-boxes-card h1{
		width: 100%;
	}
	.about-section-boxes div:nth-child(3) {
		flex-direction: column-reverse;
	}
	.about-section-boxes div:nth-child(5) {
		flex-direction: column-reverse;
	}
}

@media (max-width:1090px) {
	.recipe-boxes{
		display: flex;
		justify-content: center;
	}
	.recipe-boxes img {
		width: 420px;
		height: 360px;
	}
	.recipe-boxes-firstfood, .recipe-boxes-secondfood{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.recipe-boxes-secondfood {
		
	}
	.recipe-boxes-firstfood-left{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.recipe-boxes-firstfood-right{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.recipe-boxes-secondfood-left{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.recipe-boxes-secondfood-right{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.recipe-boxes-firstfood-right-h1, .recipe-boxes-secondfood-left-h1{
		text-align: center;
		font-size: 27px;
	}
	.recipe-boxes-firstfood-right-p, .recipe-boxes-secondfood-left-p{
		text-align: center;
		font-size: 19px;
	}
	.line {
		width: 100%;
	}
}

@media (max-width:940px) {
	.about-section-info h1{
		padding: 5px;

	}
}
